<?xml version="1.0"?>

<robot name="Test">
	<link name="base_link">
	</link>

  <link name="revolute_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>
	
  <link name="continuous_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="prismatic_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="planar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="planarfree_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="fixed_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="floating_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="ball_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="fixedorientation_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="cylindrical_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="cylindricalfree_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>

  <link name="planaraxis_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0. 0." />
      <geometry>
         <box size="1 1 1" />
      </geometry>
      <material name="green">
	       <color rgba="1 0 1 1" />
      </material>
    </visual>
  </link>


	<joint name="revolute_joint" type="revolute">
		<parent link="base_link" />
		<child link="revolute_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="continuous_joint" type="continuous">
		<parent link="base_link" />
		<child link="continuous_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="prismatic_joint" type="prismatic">
		<parent link="base_link" />
		<child link="prismatic_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="planar_joint" type="planar">
		<parent link="base_link" />
		<child link="planar_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="planarfree_joint" type="planarfree">
		<parent link="base_link" />
		<child link="planarfree_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="fixed_joint" type="fixed">
		<parent link="base_link" />
		<child link="fixed_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="floating_joint" type="floating">
		<parent link="base_link" />
		<child link="floating_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="ball_joint" type="ball">
		<parent link="base_link" />
		<child link="ball_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="fixedorientation_joint" type="fixedorientation">
		<parent link="base_link" />
		<child link="fixedorientation_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="cylindrical_joint" type="cylindrical">
		<parent link="base_link" />
		<child link="cylindrical_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="cylindricalfree_joint" type="cylindricalfree">
		<parent link="base_link" />
		<child link="cylindricalfree_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>

  <joint name="planaraxis_joint" type="planaraxis">
		<parent link="base_link" />
		<child link="planaraxis_link" />
		<origin rpy="0 0 0" xyz="0 0 0" />
		<axis xyz="0 0 0" />
	</joint>
</robot>
